body {

  background-color: White

}

h2 {

  color: blue;

  border-color: white;

  border-width: 20px;

  border-style: solid;

}

p{

  color: black;

}


.override {

  color:red !important;

}​
